
<%- include('partials/header') %>

<h1>Landing Page for YelpCamp</h1>

<p>Welcome to yelpcamp</p>

<p>Dream Big</p>
<p>Execute Now</p>
<p>Do it consistently</p>

<a href="campground"> Check Our CampGrounds </a>

<%- include('partials/footer') %>